#board  {
  width: 40vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.black-cell {
  background-color: saddlebrown;
  min-height: 5vw;
  width: 5vw;
  float:left;
}

.white-cell {
  background-color: darkgoldenrod;
   min-height: 5vw;
  width: 5vw;
  float:left;
}

.row {
  text-align: center;
  margin-top: 10px;
}

.col {
  text-align: -webkit-center;
}

.container {
  width: 100% !important;
}

.wc {
  background: no-repeat center/80% url(./white-checker.png);
}
.bc {
  background: no-repeat center/80% url(./black-checker.png);
}
.wq {
  background: no-repeat center/80% url(./white-queen.png);
}
.bq {
  background: no-repeat center/80% url(./black-queen.png);
}

label {
  display: inline-grid;
  margin: 10px
}

/* #modal-img :not(:last-child) {
  display: none;
} */

#modal-img {
  margin-top: 10px;
}

.waves-input-wrapper {
  border-radius: 0.2em !important;
  vertical-align: bottom !important;
}

.waves-effect .waves-ripple {
  position: absolute;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  opacity: 0;
  background: rgba(0,0,0,0.2);
  -webkit-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transform: scale(0);
  transform: scale(0);
  pointer-events: none
}

.waves-effect.waves-light .waves-ripple {
  background-color: rgba(255,255,255,0.45)
}

.waves-effect.waves-red .waves-ripple {
  background-color: rgba(244,67,54,0.7)
}

.waves-effect.waves-yellow .waves-ripple {
  background-color: rgba(255,235,59,0.7)
}

.waves-effect.waves-orange .waves-ripple {
  background-color: rgba(255,152,0,0.7)
}

.waves-effect.waves-purple .waves-ripple {
  background-color: rgba(156,39,176,0.7)
}

.waves-effect.waves-green .waves-ripple {
  background-color: rgba(76,175,80,0.7)
}

.waves-effect.waves-teal .waves-ripple {
  background-color: rgba(0,150,136,0.7)
}

nav .brand-logo {
  margin-left: 20px;
}

nav ul {
  margin: 0 20px !important;
}

textarea.materialize-textarea {
  line-height: normal;
  overflow-y: hidden;
  padding: .8rem 0 .8rem 0;
  resize: none;
  min-height: 3rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 5px;
}

